<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    {include file="public/_meta" /}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>班级
                </label>
                <div class="layui-input-inline">
                    <select lay-filter="class_id" id="class_id" lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>选择该试题对应的班级
                </div>
            </div>
            <div class="layui-form-item" id="link_show">
                <label class="layui-form-label">
                    <span class="x-red">*</span>试卷
                </label>
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传试卷
                </button>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    开始时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="begin_time" name="begin_time">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>选择该试卷的开始时间，为空则无开始时间限制
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    结束时间
                </label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="close_time" name="close_time">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>选择该试卷的结束时间，为空则无结束时间限制
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button id="commit" class="layui-btn" lay-filter="add" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    isLogin('{$secret}');
    $(document).ready(function() {
        $.ajax({
            type : "POST",
            contentType : "application/x-www-form-urlencoded",
            url : '/{$secret}/Exam/selectAllClass',
            success : function(res) {
                if(res.status === config('failed')){
                    layer.msg(res.message);
                }
                renderClassSelect(res.result);
            }
        });
    });
    layui.use(['form', 'layer', 'upload', 'laydate'], function() {
        $ = layui.jquery;
        var form = layui.form,
            upload  = layui.upload,
            laydate = layui.laydate,
            layer = layui.layer;
        let class_id = null;
        upload.render({
            elem: '#test1',
            url: '/{$secret}/Exam/commitPaper',
            accept: 'file',
            size: 99999999999,
            auto: false,
            bindAction: '#commit',
            drag:true,
            data: {
                class_id : class_id,
                begin_time : timeToTimeStamp($('#begin_time').val()),
                close_time : timeToTimeStamp($('#close_time').val())
            },
            choose: function (res) {
                $("#link_remove").remove();
                $("#link_show").append(
                    "<div id='link_remove' class=\"layui-input-inline\">已选择，等待提交读取数据</div>"
                );
            },
            done: function (res){
                console.log(res);
                return false;
            }
        });
        laydate.render({
            elem: '#begin_time',
            type: 'datetime'
        });
        laydate.render({
            elem: '#close_time',
            type: 'datetime'
        });
        form.on('select(class_id)', function (data) {
            class_id = data.value;
        });
        // form.on('submit(add)', function(res) {
        //     $.ajax({
        //         type : "POST",
        //         contentType : "application/x-www-form-urlencoded",
        //         processData: false,
        //         url : '/{$secret}/Exam/commitPaper',
        //         data : {
        //             class_id : class_id,
        //             file : file,
        //             begin_time : timeToTimeStamp(res.field.begin_time),
        //             close_time : timeToTimeStamp(res.field.close_time)
        //         },
        //         success : function(res) {
        //             console.log(res);
        //             if(res.status === config('failed')){
        //                 layer.msg(res.message);
        //             }else if(res.status === config('success')){
        //                 layer.alert(res.result, {icon: 6}, function() {
        //                     xadmin.close();
        //                     xadmin.father_reload();
        //                 });
        //             }
        //         }
        //     });
        //     return false;
        // });

    });
    function renderClassSelect(data) {
        for (let key of data){
            $("#class_id").append("<option value=" + key['id'] + ">" + key['name'] + "</option>");
        }
        renderForm()
    }
    function renderForm(){
        layui.use('form', function(){
            var form = layui.form;
            form.render();
        });
    }
</script>
</body>
</html>
