<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    {include file="public/_meta" /}
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    用户名
                </label>
                <div class="layui-form-mid layui-word-aux" id="name">

                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="pass" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    提交
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    isLogin('{$secret}');
    let param = getParams();
    let id = param.id;
    $(document).ready(function() {
        $.ajax({
            type : "POST",
            contentType : "application/x-www-form-urlencoded",
            url : '/{$secret}/getAdmin',
            data : {
                id : id
            },
            success : function(res) {
                if (res.status === config('failed')){
                    layer.msg(res.result);
                }
                $("#name").append("<span>:   </span>" + res.result['username']);
            }
        });
    });
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        form.verify({
            pass: [/(.+){6,16}$/, '密码必须6到16位'],
            repass: function(value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
        form.on('submit(add)', function(res) {
            $.ajax({
                type : "POST",
                contentType : "application/x-www-form-urlencoded",
                url : '/{$secret}/changePassword',
                data : {
                    target : id,
                    password : res.field.pass,
                },
                success : function(res) {
                    if(res.status === config('failed')){
                        layer.msg(res.result);
                    }else if(res.status === config('success')){
                        layer.alert(res.result, {icon: 6}, function() {
                            xadmin.close();
                            xadmin.father_reload();
                        });
                    }
                }
            });
            return false;
        });

    });
</script>
</body>
</html>
